/* NAVBAR */
.ui.attached.menu {
  background: #5c8d89;
  margin-bottom: 0px;
  padding: 0px;
}

#root > div > div:nth-child(1) > div {
  border: none;
  border-radius: 0;
}

/* LANDING PAGE */
.background-landing {
  background-image: url('images/landing-page/oahu.jpeg');
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.44);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
}

.background-about {
  background-image: url('images/honolulu.jpg');
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.44);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  /*filter: blur(1px);*/
  /*z-index: -10;*/
}
.ui.center.aligned.header.landing-description {
  line-height: 3;
}
.landing-heading {
  font-size: 250%;
}
.landing-data {
  background-color: #a7d7c5;
  background-image: url('images/wave_transparent.png');
  background-size: 100% 30%;
  background-repeat: repeat-x;
  z-index: -999;
  width: 100%;
  background-position: center 100%;
  background-attachment: scroll;
}
.background-all {
  background-image: url('images/wave_transparent.png');
  background-color: #f9f8eb;
  background-size: 100% 30%;
  background-repeat: repeat-x;
  z-index: -999;
  padding: 20px;
  min-height: 70vh;
  width: 100%;
  background-position: center 100%;
  background-attachment: scroll;
}

.background-feedback-widget {
  background-image: url('images/wave_transparent.png');
  background-color: #f9f8eb;
  background-size: 100% 30%;
  background-repeat: repeat-x;
  z-index: -999;
  padding: 20px 20px 200px;
  /*min-height: 90vh;*/
  width: 100%;
  background-position: center 100%;
  background-attachment: scroll;
  border: none !important;
}

.background-all-about {
  background-image: url('images/wave_transparent.png');
  background-color: #f9f8eb;
  background-size: 100% 20%;
  background-repeat: repeat-x;
  z-index: -999;
  padding-bottom: 20px;
  /*min-height: 100vh;*/
  width: 100%;
  background-position: center 100%;
  background-attachment: scroll;
}

.user-page-top {
  background-color: #cae7dc;
  background-size: cover;
}

body {
  background-color: #f9f8eb;
  background-size: cover;
  z-index: -999;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik', sans-serif !important;
}

.ghg-text {
  font-size: 400%;
}

.footer {
  margin-top: 14px;
  background-color: #5c8d89;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  padding-bottom: 0;
  border: none !important;
}

.footer-text {
  font-family: 'Roboto', sans-serif;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}

#graph-buttons {
  float: left;
  margin-right: -50px;
  margin-bottom: 25px;
}

.images {
  height: 350px !important;
  width: 600px !important;
  display: inline;
  padding: 30px;
}

/* MY VEHICLES PAGE */

/* Search bar */
#root > div > div:nth-child(2) > div > div:nth-child(2) > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#root
  > div
  > div.vehicle-list-container.background-all
  > div
  > div:nth-child(3)
  > div
  > div
  > div.vehicle-list-item {
  display: flex;
  justify-content: center;
}

.vehicle-card {
  padding: 2rem;
  background-color: white;
  border-radius: 20px !important;
  margin: 1rem 3rem;
  width: 60%;
  cursor: pointer;
}

.vehicle-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.vehicle-card-header,
.vehicle-card-expand-header {
  padding-top: 20px;
  align-self: center;
}

.vehicle-card-description,
.vehicle-card-expand-description {
  padding-top: 20px;
}

.vehicle-card-description span,
.vehicle-card-expand-description span {
  font-weight: bold;
  padding-right: 10px;
}

.vehicle-card-description,
.vehicle-card-expand-description {
  font-size: 18px;
}

div.vehicle-card-logo > img,
.vehicle-card-expand-logo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  max-height: 201px;
}

.vehicle-card-btn {
  padding-top: 15px;
  align-self: center;
}

.vehicle-card-expand-overlay {
  z-index: 2;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.vehicle-card-expand {
  z-index: 10;
  background-color: white;
  border-radius: 20px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem 3rem;
  margin: 10% 40%;
  cursor: pointer;
  width: 20%;
  height: 60%;
  max-width: 100%;
}

.vehicle-card-expand-description {
  display: flex;
  justify-content: flex-start;
}

/* ADD VEHICLE MODAL */
.add-vehicle-overlay {
  z-index: 2;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.add-vehicle-container {
  z-index: 10;
}

/* Add vehicle button */
.ui.circular.button {
  background-color: rgb(55, 116, 156);
  margin-top: 30px;
  position: relative;
  left: 83%;
  transition: 0.2s all ease-out;
}

.ui.circular.button:hover {
  background-color: rgba(79, 148, 194, 0.7);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.ui.circular.button:active,
.ui.circular.button:focus {
  background-color: rgba(94, 169, 219, 0.7);
  transform: translate(-2px, 2px);
}

.ui.circular.button > .icon {
  color: rgb(255, 255, 255);
}
