/* NAVBAR */
.ui.attached.menu {
  background: #5c8d89;
  border: none !important;
  border-radius: 0 !important;
  margin-bottom: 0px;
  padding: 0px;
}
.background-landing{
  background-image: url('images/oahu.jpeg');
  box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.44);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
}
.ghg-text {
  font-size: 400%;
}
